<?xml version="1.0"?>
<config>
  <modules>
    <GaugeInteractive_OutdatedBrowser>
      <version>0.1.0</version>
    </GaugeInteractive_OutdatedBrowser>
  </modules>
  <global>
    <blocks>
      <outdatedbrowser>
        <class>GaugeInteractive_OutdatedBrowser_Block</class>
      </outdatedbrowser>
    </blocks>
    <helpers>
      <outdatedbrowser>
        <class>GaugeInteractive_OutdatedBrowser_Helper</class>
      </outdatedbrowser>
    </helpers>
    <models>
      <outdatedbrowser>
        <class>GaugeInteractive_OutdatedBrowser_Model</class>
      </outdatedbrowser>
    </models>
  </global>
  <default>
    <notifications>
      <outdatedbrowser>
        <active>1</active>
        <color>#ffffff</color>
        <background>#f25648</background>
        <lowerthan>IE8</lowerthan>
      </outdatedbrowser>
    </notifications>
  </default>
  <frontend>
    <layout>
      <updates>
        <outdatedbrowser>
          <file>gaugeinteractive_outdatedbrowser.xml</file>
        </outdatedbrowser>
      </updates>
    </layout>
  </frontend>
</config>
